.login-page {
    background: #fece4a !important;
}

.login-logo img {
    width: 150px !important;
}

.btn-login.btn-lilao {
    color: #fff !important;
    font-weight: bolder;
    background-color: #fece4a !important;
    border-color: #FFD13E !important;
}