/**
 * Criar configurações base, como por exemplo remover text-decoration dos links
 */

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a {
	text-decoration: none;
}