/* layout */
.l-post__item {
    margin-bottom: 5em;
}

.l-post__item:last-child {
    margin-bottom: 0;
}

/* modules */
.m-post__title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-weight: 800;
}

.m-post__title a  {
    text-decoration: none;
    color: inherit;
    transition: all 0.1 ease;
    -webkit-transition: all 0.1 ease;
    -moz-transition: all 0.1 ease;
}

.m-post__title a:hover {
    color: #fece4a;
}

.m-post__date {
    color: #666;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.8em;
    margin: 1em 0;
}

.m-post__views {
    font-size: 0.7em;
    color: #666;
    display: block;
    margin: 1em 0;
}

.m-post__date span {
    color: #000;
    font-weight: bolder;
}

.m-post__btn-read-more a {
    text-decoration: none;
    color: #333;
}

#search {
    margin-top: 1.5em;
}

.loading {
    display: block;
    text-align: center;
    margin: 2em 0;
    display: none !important;
}

.loading.active {
    display: block !important;
}

.btn.btn-lilao {
    color: #000 !important;
    font-weight: bolder;
    background-color: #fece4a !important;
    border-color: #FFD13E !important;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.btn.btn-lilao:hover {
    background-color: #f5b70a !important;
}

.btn.btn-lilao:disabled {
    background-color: #ffe8a9 !important;
    border-color: #FFD13E !important;
}

.posts-list {
    margin-top: 1em;
    padding: 0;
}

.posts-list li {
    margin: 10px 0;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
}

.posts-list li:last-child {
    border: none;
}

.posts-list a {
    color: #666;
    text-decoration: none;
}
.posts-list a:hover {
    color: #FFD13E;
}

.maislidas {
    margin-top: 2em;
}
.recents {
    margin-top: 4em;
}