@font-face {
	font-family: 'bernadette';
	src: url('/site/fonts/bernadette.ttf');
}

.to-top {
	text-decoration: none !important;
	position: fixed;
	right: 0;
	bottom: 2em;
	width: auto;
	height: auto;
	background: #FDCF1C;
	color: #000;
	padding: 5px;
	display: none;
	z-index: 9999;
}
.to-top:hover {
	color: #000;
}
.to-top.active {
	display: block;
}

.logo {
	width: 150px;
}

.viagens img {
	width: 100%;
}

.viagens {
	position: relative;
	background: #fff;
	border: 2px solid #ebebeb;
	height: 100% !important;
	margin-top: 1.5em;
	padding: 10px;
	display: inline-block;
	overflow: hidden;

	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
}

.viagem-caption {
	background: #fff;
}

.viagens:hover {
	z-index: 1;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.viagem-status {
	margin-top: 2em;
}

.viagem-titulo {
	margin-top: 1.3em !important;
	font-size: 1.1em !important;
}
.viagem-preco {
	font-size: 1.5em;
	font-style: bolder;
}
.viagem-preco-apartir {
	font-size: 1.2em;
	color: #666;
	margin-right: 0.6em;
	margin-top: 0.2em;
}

.sobre-texto {
	text-align: justify-all;
}

/*abaixa o header*/
.banner {
	margin-top: 4em;
}
/*header top*/
.header-top {
	padding: 0.3em 0;
	background: #FDCF1C;
	border-bottom: 1px solid #ba9609;
	display: none;
}
.header-top_contato {
	font-size: 0.8em;
	margin-top: 1em;
}
.social {
	float: right;
	list-style: none;
	padding: 0;
	margin-top: 0.2em;
}
.social li {
	display: inline-block;
}	
.social li a {
	display: block;
}
.social li img {
	transition: transform 0.3s;
	width: 30px;
}
.social li a:hover img {
	transform: rotate(180deg);
}
.porque-escolher {
	margin-top: 3em;
}
.sobre-video {
	width: 100%;
	height: auto;
	min-height: 350px;
}

/*page single viagem*/
.viagem-single-titulo {
	margin-top: 0;
}
.viagem-single-geral {
	margin-top: 1.5em;
}
.menu {
	position: fixed
}
.w3layouts-banner-top h4 {
	display: none !important;
}
.w3layouts-banner-top h4 {
	text-shadow: 3px 3px 1px #000;
}
@media(min-width: 960px) {
	.sobre-video {
		min-height: 350px;
	}
	.header-top {
		display: block;
	}
	.w3layouts-banner-top h4 {
		display: block !important;
	}
	
	.header {
		float: left;
		width: 250px;
	}
	.logo {
		margin-right: 10em;
	}
	.header-bottom {
		position: absolute;
		margin-top: 5em;
	}
	.top-nav ul {
		float: right !important;
	}
}

@media(min-width: 1200px) {
	.top-nav ul {
		margin-right: 4em;
	}
}

.viagem-observacao {
	display: inline-block;
	margin-top: 1.5em;
	text-align: center;
	font-size: 0.8em;
	color: rgb(193, 154, 0);
}